@use 'color' as *;

.info {
  display: flex;
  border-radius: 0.5rem;
  background-color: $color-surface-bg-neutral-dim;
  color: $color-text-primary;
}

.stats {
  display: grid;
  grid-template-columns: min-content 1fr;

  .value {
    text-align: right;
    font-weight: bold;
  }
}

app-signature-sheet-citizen-table {
  display: block;
  border-radius: 0.5rem;
  background-color: $color-surface-bg-neutral-bright;
}

.immutable-hint {
  font-style: italic;
  color: $color-text-secondary;
}

bc-readonly {
  width: unset;
}
