<bc-table
  [dataSource]="dataSource"
  selection
  filter
  sort
  [sortActive]="[
    { id: 'domainOfInfluenceType', direction: 'asc' },
    { id: 'collectionEndDate', direction: 'desc' },
  ]"
>
  <ng-container [columnDef]="domainOfInfluenceTypeColumn">
    <bc-header-cell
      *headerCellDef
      filter
      filterType="list"
      sort
      [filterItems]="domainOfInfluenceTypes"
      filterDisplayExpr="description"
      filterValueExpr="value"
    >
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.DOMAIN_OF_INFLUENCE_TYPE</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let row">
      <bc-status-label [label]="'DOMAIN_OF_INFLUENCE.TYPES.' + row.domainOfInfluenceType | translate"></bc-status-label>
    </bc-data-cell>
  </ng-container>
  <ng-container [columnDef]="domainOfInfluenceNameColumn">
    <bc-header-cell *headerCellDef filter filterType="text" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.DOMAIN_OF_INFLUENCE_NAME</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let row">
      {{ row.domainOfInfluenceName }}
    </bc-data-cell>
  </ng-container>
  <ng-container [columnDef]="descriptionColumn">
    <bc-header-cell *headerCellDef filter filterType="text" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.DESCRIPTION</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let row">
      {{ row.description }}
    </bc-data-cell>
  </ng-container>
  <ng-container [columnDef]="collectionStartDateColumn">
    <bc-header-cell *headerCellDef filter filterType="date" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.COLLECTION_START_DATE</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let row">
      {{ row.collectionStartDate | date }}
    </bc-data-cell>
  </ng-container>
  <ng-container [columnDef]="collectionEndDateColumn">
    <bc-header-cell *headerCellDef filter filterType="date" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.COLLECTION_END_DATE</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let row">
      {{ row.collectionEndDate | date }}
    </bc-data-cell>
  </ng-container>
  <ng-container [columnDef]="minSignatureCountColumn">
    <bc-header-cell *headerCellDef filter filterType="number" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.MIN_SIGNATURE_COUNT</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let row" class="text-right">
      {{ row.minSignatureCount | number }}
    </bc-data-cell>
  </ng-container>
  <ng-container [columnDef]="totalAttestedColumn">
    <bc-header-cell *headerCellDef filter filterType="number" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.TOTAL_ATTESTED</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let row" class="text-right">
      {{ getTotalAttestedCount(row) | number }}
    </bc-data-cell>
  </ng-container>
  <ng-container [columnDef]="maxElectronicSignatureCountColumn">
    <bc-header-cell *headerCellDef filter filterType="number" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.MAX_ELECTRONIC_SIGNATURE_COUNT</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let row" class="text-right">
      {{ row.maxElectronicSignatureCount | number }}
    </bc-data-cell>
  </ng-container>
  <ng-container [columnDef]="electronicAttestedColumn">
    <bc-header-cell *headerCellDef filter filterType="number" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.ELECTRONIC_ATTESTED</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let row" class="text-right">
      {{ getElectronicAttestedCount(row) | number }}
    </bc-data-cell>
  </ng-container>
  <ng-container [columnDef]="stateColumn">
    <bc-header-cell
      *headerCellDef
      filter
      filterType="list"
      sort
      [filterItems]="states"
      filterDisplayExpr="description"
      filterValueExpr="value"
    >
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.STATE</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let row">
      <bc-status-label [label]="'DECREE.COLLECTION_PERIOD_STATES.' + row.periodState | translate"></bc-status-label>
    </bc-data-cell>
  </ng-container>
  <ng-container [columnDef]="editColumn">
    <bc-header-cell *headerCellDef></bc-header-cell>
    <bc-data-cell *dataCellDef="let row">
      <bc-icon-button icon="trash" variant="tertiary" [disabled]="isDisabled(row)" (buttonClick)="deleteDecree.emit(row)"></bc-icon-button>
      <bc-icon-button icon="edit" variant="tertiary" [disabled]="isDisabled(row)" (buttonClick)="decreeSelected.emit(row)"></bc-icon-button>
    </bc-data-cell>
  </ng-container>
  <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
  <bc-data-row
    *dataRowDef="let row; columns: columns; let i = index"
    [selectionDisabled]="isDisabled"
    selectionToggle
    [selectionToggleValue]="row"
    selectionRow
    [selectionRowValue]="row"
    (click)="!isDisabled(row) ? decreeSelected.emit(row) : null"
  ></bc-data-row>

  <ng-template noDataRow>
    <tr class="bc-row-data">
      <td class="bc-cell" [colSpan]="columns.length" translate>DECREE.TABLE.NO_DATA</td>
    </tr>
  </ng-template>
</bc-table>
