<bc-table
  [dataSource]="dataSource"
  selection
  filter
  sort
  [sortActive]="[
    { id: 'domainOfInfluenceType', direction: 'asc' },
    { id: 'collectionEndDate', direction: 'desc' },
  ]"
>
  <ng-container [columnDef]="domainOfInfluenceTypeColumn">
    <th bc-header-cell
      *headerCellDef
      filter
      filterType="list"
      sort
      [filterItems]="domainOfInfluenceTypes"
      filterDisplayExpr="description"
      filterValueExpr="value"
    >
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.DOMAIN_OF_INFLUENCE_TYPE</span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <bc-status-label [label]="'DOMAIN_OF_INFLUENCE.TYPES.' + row.domainOfInfluenceType | translate"></bc-status-label>
    </td>
  </ng-container>
  <ng-container [columnDef]="domainOfInfluenceNameColumn">
    <th bc-header-cell *headerCellDef filter filterType="text" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.DOMAIN_OF_INFLUENCE_NAME</span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      {{ row.domainOfInfluenceName }}
    </td>
  </ng-container>
  <ng-container [columnDef]="descriptionColumn">
    <th bc-header-cell *headerCellDef filter filterType="text" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.DESCRIPTION</span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      {{ row.description }}
    </td>
  </ng-container>
  <ng-container [columnDef]="collectionStartDateColumn">
    <th bc-header-cell *headerCellDef filter filterType="date" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.COLLECTION_START_DATE</span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      {{ row.collectionStartDate | date }}
    </td>
  </ng-container>
  <ng-container [columnDef]="collectionEndDateColumn">
    <th bc-header-cell *headerCellDef filter filterType="date" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.COLLECTION_END_DATE</span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      {{ row.collectionEndDate | date }}
    </td>
  </ng-container>
  <ng-container [columnDef]="minSignatureCountColumn">
    <th bc-header-cell *headerCellDef filter filterType="number" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.MIN_SIGNATURE_COUNT</span>
    </th>
    <td bc-data-cell *dataCellDef="let row" class="text-right">
      {{ row.minSignatureCount | number }}
    </td>
  </ng-container>
  <ng-container [columnDef]="maxElectronicSignatureCountColumn">
    <th bc-header-cell *headerCellDef filter filterType="number" sort>
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.MAX_ELECTRONIC_SIGNATURE_COUNT</span>
    </th>
    <td bc-data-cell *dataCellDef="let row" class="text-right">
      {{ row.maxElectronicSignatureCount | number }}
    </td>
  </ng-container>
  <ng-container [columnDef]="stateColumn">
    <th bc-header-cell
      *headerCellDef
      filter
      filterType="list"
      sort
      [filterItems]="states"
      filterDisplayExpr="description"
      filterValueExpr="value"
    >
      <span translate truncateWithTooltip tooltip>DECREE.TABLE.STATE</span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <bc-status-label [label]="'DECREE.COLLECTION_PERIOD_STATES.' + row.periodState | translate"
                       [backgroundColor]="collectionPeriodStateColorMap[row.periodState]"
                       [foregroundColor]="row.periodState === collectionPeriodStates.COLLECTION_PERIOD_STATE_EXPIRED ? 'light' : 'dark'"></bc-status-label>
    </td>
  </ng-container>
  <ng-container [columnDef]="editColumn">
    <th bc-header-cell *headerCellDef></th>
    <td bc-data-cell *dataCellDef="let row">
      <bc-icon-button icon="trash" variant="tertiary" [disabled]="isDisabled(row)" (buttonClick)="deleteDecree.emit(row)"></bc-icon-button>
      <bc-icon-button icon="edit" variant="tertiary" [disabled]="isDisabled(row)" (buttonClick)="decreeSelected.emit(row)"></bc-icon-button>
    </td>
  </ng-container>
  <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
  <tr bc-data-row
    *dataRowDef="let row; columns: columns; let i = index"
    [selectionDisabled]="isDisabled"
    selectionToggle
    [selectionToggleValue]="row"
    selectionRow
    [selectionRowValue]="row"
    (click)="!isDisabled(row) ? decreeSelected.emit(row) : null"
  ></tr>

  <ng-template noDataRow>
    <tr class="bc-row-data">
      <td class="bc-cell" [colSpan]="columns.length" translate>DECREE.TABLE.NO_DATA</td>
    </tr>
  </ng-template>
</bc-table>
