@use '@abraxas/voting-lib/style/spacing' as *;
@use '@abraxas/voting-lib/style/color' as *;
@use 'gap' as *;

.box {
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid $color-border-soft;
}

.files {
  @extend .gap-1;

  display: flex;
  flex-wrap: wrap;

  vo-ecol-file-chip {
    display: inline-block;
  }
}
