<bc-card class="m-3" [border]="false">
  <bc-card-header>
    <bc-card-title id="content" [label]="'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.LISTS.TITLE' | translate" [headingLevel]="'h3'"></bc-card-title>
  </bc-card-header>
  <bc-card-content>
    <p>{{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.LISTS.INFO.HEADER' | translate }}</p>
    <ol>
      <li>{{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.LISTS.INFO.1' | translate }}</li>
      <li>{{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.LISTS.INFO.2' | translate }}</li>
    </ol>
    <p class="whitespace-pre-line">{{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.LISTS.INFO.FOOTER' | translate }}</p>
    <div class="box">
      <div class="flex flex-wrap">
        <!-- hidden link for accessible html version of the pdf -->
        <bc-button [label]="'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.LISTS.DOWNLOAD' | translate"
                   variant="tertiary"
                   icon="download"
                   [loading]="downloadingTemplate"
                   [disabled]="!initiative.collection.userPermissions?.canDownloadCommitteeList"
                   (buttonClick)="downloadTemplate()"></bc-button>
        <a class="accessible-link" [routerLink]="['..', detailCommitteeListPreviewUrl]">{{ 'APP.OPEN_ACCESSIBLE_PDF' | translate }}</a>
        @if (initiative.collection.userPermissions?.canEdit && !initiative.lockedFields?.committeeMembers) {
          <vo-ecol-file-upload [label]="'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.LISTS.UPLOAD' | translate"
                               variant="simple-button"
                               (fileChanged)="uploadFile($event)"
                               [allowedContentTypes]="['application/pdf']"
                               [maxSizeInBytes]="maxFileSize"></vo-ecol-file-upload>
        }
      </div>
      @if (initiative.collection.userPermissions?.canDownloadCommitteeList) {
        <div class="files">
          @if (uploadingFileName) {
            <vo-ecol-file-chip [label]="uploadingFileName"
                               [loading]="true"
                               [canOpen]="false"
                               [canRemove]="false"></vo-ecol-file-chip>
          }

          @for (list of this.committee.committeeLists; track list.id) {
            <vo-ecol-file-chip [label]="list.name"
                               [canRemove]="(initiative.collection.userPermissions?.canEdit ?? false) && !initiative.lockedFields?.committeeMembers"
                               (open)="openCommitteeList(list)"
                               (remove)="removeCommitteeList(list)"></vo-ecol-file-chip>
          }
        </div>
      }
    </div>
  </bc-card-content>
</bc-card>
