@use '@abraxas/voting-lib/style/table' as *;

::ng-deep .bc-column-number,
::ng-deep .bc-column-date,
::ng-deep .bc-column-attested-at,
::ng-deep .bc-column-modified-by-name,
::ng-deep .bc-column-signature-count-total,
::ng-deep .bc-column-signature-count-valid,
::ng-deep .bc-column-signature-count-invalid {
  @include truncate-long-sortable-table-header();
}

.bc-column-number {
  width: 7rem;

  &.bc-cell-data.text-right {
    padding-right: 3.5rem;
  }
}

.bc-column-date {
  width: 7rem;
}

.bc-column-signature-count-total {
  width: 11rem;
}

.bc-column-signature-count-valid {
  width: 12rem;
}

.bc-column-signature-count-invalid {
  width: 13rem;
}

.bc-column-actions {
  width: 7rem;
}
