.bc-column-number {
  width: 7rem;

  &.bc-cell-data.text-right {
    padding-right: 3.5rem;
  }
}

.bc-column-date {
  width: 7rem;
}

.bc-column-signature-count-total {
  width: 11rem;
}

.bc-column-signature-count-valid {
  width: 12rem;
}

.bc-column-signature-count-invalid {
  width: 13rem;
}

.bc-column-actions {
  width: 7rem;
}

.bc-column-attested-at {
  width: 11rem;
}
