<bc-table [dataSource]="dataSource" [fixedLayout]="false" [fixed]="false" cdkDropList (cdkDropListDropped)="sortChanged.emit($event)">
  <ng-container [columnDef]="lastNameColumn">
    <th bc-header-cell *headerCellDef>
      {{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.LAST_NAME' | translate }}
    </th>
    <th bc-row-header-cell *dataCellDef="let row">
      {{ row.politicalLastName }}
    </th>
  </ng-container>

  <ng-container [columnDef]="firstNameColumn">
    <th bc-header-cell *headerCellDef>
      {{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.FIRST_NAME' | translate }}
    </th>
    <th bc-row-header-cell *dataCellDef="let row">
      {{ row.politicalFirstName }}
    </th>
  </ng-container>

  <ng-container [columnDef]="dateOfBirthColumn">
    <th bc-header-cell *headerCellDef>
      {{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.DATE_OF_BIRTH' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      {{ row.dateOfBirth | date }}
    </td>
  </ng-container>

  <ng-container [columnDef]="streetColumn">
    <th bc-header-cell *headerCellDef>
      {{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.STREET' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      {{ row.street }}
    </td>
  </ng-container>

  <ng-container [columnDef]="houseNumberColumn">
    <th bc-header-cell *headerCellDef>
      {{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.HOUSE_NUMBER' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      {{ row.houseNumber }}
    </td>
  </ng-container>

  <ng-container [columnDef]="zipCodeColumn">
    <th bc-header-cell *headerCellDef>
      {{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.ZIP_CODE' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      {{ row.zipCode }}
    </td>
  </ng-container>

  <ng-container [columnDef]="residenceColumn">
    <th bc-header-cell *headerCellDef>
      {{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.RESIDENCE' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      {{ row.politicalResidence }}
    </td>
  </ng-container>

  <ng-container [columnDef]="signatureTypeColumn">
    <th bc-header-cell *headerCellDef>
      {{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.SIGNATURE_TYPE.LABEL' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <bc-status-label
        [label]="'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.SIGNATURE_TYPE.' + row.signatureType | translate"
        [foregroundColor]="'light'"
        [backgroundColor]="signatureTypeColorMap[row.signatureType]"
      ></bc-status-label>
    </td>
  </ng-container>

  <ng-container [columnDef]="stateColumn">
    <th bc-header-cell *headerCellDef>
      {{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.STATE' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <bc-status-label
        [label]="'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.APPROVAL_STATES.' + row.approvalState | translate"
        [backgroundColor]="approvalStateColorMap[row.approvalState]"
      ></bc-status-label>
    </td>
  </ng-container>

  <ng-container [columnDef]="actionsColumn">
    <th bc-header-cell *headerCellDef [align]="'right'">
      {{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.ACTIONS' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let element" [align]="'right'">
      @if ((element.userPermissions?.canEdit || element.userPermissions?.canEditPoliticalDuty || canRemove) && !readonly) {
        <div class="flex flex-nowrap justify-end">
          <bc-icon-button
            (buttonClick)="editClicked.emit(element)"
            [disabled]="!element.userPermissions?.canEdit && !element.userPermissions?.canEditPoliticalDuty"
            icon="edit"
            variant="tertiary"
            [ariaLabel]="'APP.EDIT' | translate"
          ></bc-icon-button>
          <bc-icon-button
            (buttonClick)="resendClicked.emit(element)"
            icon="repeat"
            variant="tertiary"
            [disabled]="!element.userPermissions?.canResend"
            [ariaLabel]="'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.REQUEST_MEMBER_SIGNATURE.RESEND' | translate"
          ></bc-icon-button>
          <bc-icon-button
            (buttonClick)="removedClicked.emit(element)"
            [disabled]="!canRemove"
            icon="trash"
            variant="tertiary"
            [ariaLabel]="'APP.DELETE.TITLE' | translate"
          ></bc-icon-button>
        </div>
      }
    </td>
  </ng-container>

  <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
  <tr bc-data-row
    *dataRowDef="let row; columns: columns"
    cdkDrag
    [cdkDragDisabled]="readonly || dragDisabled || dataSource.data.length <= 1"
    cdkDragLockAxis="y"
    cdkDragPreviewContainer="parent"
    [cdkDragData]="row"
  >
    <ng-template cdkDragPreview>
      <tr class="drag-placeholder px-3 py-1">
        <td [colSpan]="columns.length">{{ row.politicalLastName }} {{ row.politicalFirstName }}</td>
      </tr>
    </ng-template>
  </tr>

  <ng-template noDataRow>
    <tr class="bc-row-data">
      <td class="bc-cell" [colSpan]="columns.length">{{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.NO_DATA' | translate }}</td>
    </tr>
  </ng-template>
</bc-table>
