// returns the color as a CSS variable
@function color($name) {
  @return var(--color-#{$name});
}

$color-text-primary: color('text-primary');
$color-text-secondary: color('text-secondary');
$color-text-inverse: color('text-inverse');

$color-border-soft: color('border-soft');
$color-border-secondary: color('border-secondary');

$color-primary-80: color('primary-80');
$color-primary-95: color('primary-95');
$color-secondary-20: color('secondary-20');

$color-signal-success: color('signal-success');
$color-signal-success-light: color('signal-success-light');
$color-signal-error: color('signal-error');
$color-signal-error-light: color('signal-error-light');
$color-signal-warning: color('signal-warning');
$color-signal-warning-light: color('signal-warning-light');
$color-signal-info: color('signal-info');
$color-signal-info-light: color('signal-info-light');

$color-disabled-light: color('disabled-light');
$color-neutral-100: color('neutral-100');

$color-surface-bg-neutral-bright: color('surface-bg-neutral-bright');
$color-surface-bg-neutral-dim: color('surface-bg-neutral-dim');
$color-surface-bg-neutral-full: color('surface-bg-neutral-full');
