.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.w-full {
  width: 100%;
}
