@forward '../../../../node_modules/normalize.css/normalize.css';
@forward '@abraxas/voting-lib/style';
@forward 'flex';
@forward 'display';
@forward 'text';
@forward 'gap';
@forward 'layout';
@forward 'overflow';
@forward 'color';

@use 'color' as *;

.no-data {
  font-style: italic;
  color: $color-text-secondary;
}

.content-width {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.large-content-width {
  max-width: 1920px;
}

.h-full {
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
