@use 'color' as *;

.text-secondary {
  color: $color-text-secondary;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: bold;
}

.break-all {
  word-break: break-all;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.nowrap {
  white-space: nowrap;
}

.wrap-break-word {
  overflow-wrap: break-word;
}

.user-text {
  hyphens: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
