@use '@abraxas/voting-lib/style/color' as *;
@use '@abraxas/voting-lib/style/spacing' as *;

.spinner-container {
  display: flex;
  align-items: center;

  .generating {
    @extend .ml-2;

    font-style: italic;
    color: $color-grey-1;
  }
}

[actions] {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.initiative-details ::ng-deep.mat-expansion-panel {
  background-color: $color-primary-10;
}

.initiative-details .content {
  display: block;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $color-white;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}
