@use '@abraxas/voting-lib/style/spacing' as *;
@use '@abraxas/voting-lib/style/color' as *;

[actions] {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.initiative-details ::ng-deep.mat-expansion-panel {
  background-color: $color-primary-95;
}

.initiative-details .content {
  display: block;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $color-surface-bg-neutral-full;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}
