@use '@abraxas/voting-lib/style/color' as *;
@use '@abraxas/voting-lib/style/spacing' as *;
@use '../../../../../../ecollecting-lib/src/styles/gap' as *;

.header-card bc-card-header {
  height: 60px; // same height as app header for better UI
}

.footer-button-bar {
  @extend .p-3;
  @extend .gap-3;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid $color-grey-5;
  z-index: 100; // button bar is displayed in front of the content
  background-color: $color-white;

  bc-button ~ bc-button {
    margin-left: 0;
  }
}
