<div class="page-with-user-navigation-without-padding layout">
  @if (referendum) {
    <div class="layout-header">
      <bc-sub-navigation-bar [type]="'subpage'" [border]="false" (actionClick)="back()" [backBtnAriaLabel]="'APP.BACK' | translate">
        <h2 sub-navigation-title tooltip truncateWithTooltip>
          {{
            (referendum.collection.isElectronicSubmission
                ? 'SEEK_REFERENDUM.DETAIL.TITLE_ELECTRONIC_SUBMISSION'
                : 'SEEK_REFERENDUM.DETAIL.TITLE_PAPER_SUBMISSION'
            ) | translate: { description: referendum.collection.description }
          }}
        </h2>
        <bc-icon-button class="ml-2" icon="add-comment" (buttonClick)="openChat()" [ariaLabel]="'CHAT.OPEN' | translate"></bc-icon-button>
      </bc-sub-navigation-bar>

      @if (referendum.decree) {
        <bc-card class="header-card" [backgroundColor]="'basic'" [border]="false">
          <bc-card-header>
            <bc-card-subtitle role="presentation" [label]="referendum.decree.description" truncateWithTooltip tooltip></bc-card-subtitle>
            @if (referendum.collection.userPermissions?.canEdit) {
              <bc-icon-button
                class="ml-2 mr-3"
                [icon]="'edit'"
                variant="tertiary"
                (buttonClick)="selectDecree()"
                [ariaLabel]="'SEEK_REFERENDUM.DETAIL.SELECT_DECREE' | translate"
              ></bc-icon-button>
            }
          </bc-card-header>
        </bc-card>
      } @else if (referendum.collection.userPermissions?.canEdit) {
        <bc-card role="alert" class="header-card" [backgroundColor]="'error'" [border]="false">
          <bc-card-header>
            <bc-card-subtitle
              role="presentation"
              [label]="'SEEK_REFERENDUM.DETAIL.SELECT_DECREE_INFO' | translate"
              truncateWithTooltip
              tooltip
            ></bc-card-subtitle>
            <bc-card-actions class="mr-3">
              <bc-button
                class="nowrap"
                [label]="'SEEK_REFERENDUM.DETAIL.SELECT_DECREE' | translate"
                [color]="'warn'"
                (buttonClick)="selectDecree()"
              ></bc-button>
            </bc-card-actions>
          </bc-card-header>
        </bc-card>
      }
    </div>

    <bc-nav-layout class="layout-content" [collapsed]="navigationCollapsed">
      <!-- collapseBreakpoint = medium break point https://getbootstrap.com/docs/5.3/layout/breakpoints/#available-breakpoints -->
      <bc-nav-drawer
        [opened]="true"
        [collapseBreakpoint]="navigationCollapseBreakpoint"
        [expandable]="true"
        [rounded]="true"
        [autoFocus]="false"
        [mode]="'side'"
        [border]="'right'"
        [disableClose]="true"
        (collapseChanged)="navigationCollapsed = $event"
      >
        <bc-nav-group>
          <li
            bc-nav-item
            [label]="'SEEK_REFERENDUM.DETAIL.NAV.OVERVIEW' | translate"
            [icon]="'home'"
            [routerLink]="detailOverviewUrl"
            [target]="'self'"
            [active]="active === detailOverviewUrl"
            (click)="collapseNavigationOnSmallScreens()"
          ></li>
          <li
            bc-nav-item
            [label]="'SEEK_REFERENDUM.DETAIL.NAV.GENERAL_INFORMATION' | translate"
            [icon]="'law'"
            [routerLink]="detailGeneralInformationUrl"
            [target]="'self'"
            [active]="active === detailGeneralInformationUrl"
            (click)="collapseNavigationOnSmallScreens()"
          ></li>
          <li
            bc-nav-item
            [label]="'SEEK_REFERENDUM.DETAIL.NAV.SIGNATURE_LIST' | translate"
            [icon]="'lists'"
            [routerLink]="detailSignatureSheetUrl"
            [target]="'self'"
            [active]="active === detailSignatureSheetUrl"
            (click)="collapseNavigationOnSmallScreens()"
          ></li>
          <li
            bc-nav-item
            [label]="'SEEK_REFERENDUM.DETAIL.NAV.PERMISSIONS' | translate"
            [icon]="'access'"
            [routerLink]="detailPermissionsUrl"
            [target]="'self'"
            [active]="active === detailPermissionsUrl"
            (click)="collapseNavigationOnSmallScreens()"
          ></li>
        </bc-nav-group>
      </bc-nav-drawer>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </bc-nav-layout>
    <div #footer class="layout-footer footer-button-bar">
      @if (referendum.collection.userPermissions?.isRequestInformalReviewVisible) {
        <bc-button
          icon="eye"
          [label]="'SEEK_REFERENDUM.DETAIL.REQUEST_INFORMAL_REVIEW' | translate"
          [disabled]="!referendum.collection.userPermissions?.canRequestInformalReview"
          (buttonClick)="requestInformalReview()"
        ></bc-button>
      }
      @if (referendum.collection.userPermissions?.isSubmitVisible) {
        <bc-button
          icon="clipboard"
          [label]="'SEEK_REFERENDUM.DETAIL.SUBMIT' | translate"
          [disabled]="!referendum.collection.userPermissions?.canSubmit"
          [loading]="submitting"
          [ariaLabel]="(submitting ? 'SEEK_REFERENDUM.DETAIL.SUBMITTING' : 'SEEK_REFERENDUM.DETAIL.SUBMIT') | translate"
          (buttonClick)="submit()"
        ></bc-button>
      }
      @if (referendum.collection.userPermissions?.canWithdraw) {
        <bc-button
          icon="trash"
          color="warn"
          [label]="'SEEK_REFERENDUM.DETAIL.WITHDRAW.TITLE' | translate"
          (buttonClick)="withdraw()"
        ></bc-button>
      }
    </div>
  }
</div>
