<bc-card class="m-3" [border]="false">
  <bc-card-header>
    <bc-card-title [label]="'INITIATIVE.COMMITTEE.MEMBERS.TITLE' | translate"></bc-card-title>
  </bc-card-header>
  <bc-card-content>
    <div>
      <p>
        @if (committee.approvedMembersCountOk) {
          <bc-icon [icon]="'check-circle'" [iconColor]="'success'"></bc-icon>
        } @else {
          <bc-icon [icon]="'exclamation-triangle-o'" [iconColor]="'warning'"></bc-icon>
        }
        {{
          'INITIATIVE.COMMITTEE.MEMBERS.HINT'
            | translate
              : {
                  totalMembersCount: committee.totalMembersCount | number,
                  approvedMembersCount: committee.approvedMembersCount | number,
                  requiredApprovedMembersCount: committee.requiredApprovedMembersCount | number,
                }
        }}
      </p>
      <app-initiative-detail-committee-members-table
        [committeeMembers]="committee.activeCommitteeMembers"
        [readonly]="!initiative.collection.userPermissions?.canEdit"
        (verifyClicked)="verify($event)"
        (resetClicked)="reset($event)"
      ></app-initiative-detail-committee-members-table>

      @if (committee.rejectedOrExpiredCommitteeMembers.length > 0) {
        <div class="mt-3">
          <h4 class="mb-1">{{ 'INITIATIVE.COMMITTEE.MEMBERS.REJECTED_OR_EXPIRED' | translate }}</h4>
          <app-initiative-detail-committee-members-table
            [committeeMembers]="committee.rejectedOrExpiredCommitteeMembers"
            [readonly]="!initiative.collection.userPermissions?.canEdit"
            (verifyClicked)="verify($event)"
            (resetClicked)="reset($event)"
          ></app-initiative-detail-committee-members-table>
        </div>
      }
    </div>
  </bc-card-content>
</bc-card>
