<vo-ecol-dialog
  [header]="'COLLECTION.DETAIL.PERMISSIONS.DIALOG.TITLE'"
  [okText]="'APP.CREATE'"
  (ok)="save()"
  [canOk]="form.valid"
  [saving]="saving"
  (discard)="closeWithUnsavedChangesCheck()"
  [formGroup]="form"
>
  <bc-text
    [label]="'COLLECTION.DETAIL.PERMISSIONS.DIALOG.LAST_NAME' | translate"
    [formControl]="form.controls.lastName"
    [required]="true"
    [showDefaultErrors]="true"
    [hintCountVisible]="'remaining'"
    [maxlength]="100"
    subscriptSizing="dynamic"
    [clearable]="false"
  ></bc-text>
  <bc-text
    [label]="'COLLECTION.DETAIL.PERMISSIONS.DIALOG.FIRST_NAME' | translate"
    [formControl]="form.controls.firstName"
    [required]="true"
    [showDefaultErrors]="true"
    [hintCountVisible]="'remaining'"
    [maxlength]="100"
    subscriptSizing="dynamic"
    [clearable]="false"
  ></bc-text>
  <bc-text
    [label]="'COLLECTION.DETAIL.PERMISSIONS.DIALOG.EMAIL' | translate"
    [formControl]="form.controls.email"
    [required]="true"
    [showDefaultErrors]="true"
    [hintCountVisible]="'remaining'"
    [maxlength]="254"
    subscriptSizing="dynamic"
    [clearable]="false"
  ></bc-text>
  <bc-radio-button-group
    class="my-2"
    [label]="'COLLECTION.DETAIL.PERMISSIONS.DIALOG.ROLE' | translate"
    [items]="roleChoices"
    [formControl]="form.controls.role"
    [orientation]="'vertical'"
    [required]="true"
    subscriptSizing="dynamic"
  ></bc-radio-button-group>
  <p>{{ 'COLLECTION.DETAIL.PERMISSIONS.DIALOG.INFO' | translate }}</p>
</vo-ecol-dialog>
