:host {
  display: block;
  height: 100%;
}

.layout-content {
  overflow-y: auto;
}

.header-card {
  ::ng-deep .mdc-card {
    border-radius: 0;
  }

  bc-card-header {
    height: 60px; // same height as app header for better UI
  }
}
