<div class="layout">
  @if (referendum) {
    <div class="layout-header">
      <bc-sub-navigation-bar
        [type]="'subpage'"
        [border]="false"
        (actionClick)="back()"
        [backBtnAriaLabel]="'APP.BACK' | translate"
      >
        <h4 sub-navigation-title truncateWithTooltip tooltip>{{ 'REFERENDUM.TITLE' | translate: { description: referendum.collection.description } | translate }}</h4>
        <div></div>
        <!-- placeholder which is forcing divider to be displayed -->
      </bc-sub-navigation-bar>

      @if (referendum.decree) {
        <bc-card class="header-card" [backgroundColor]="'basic'" [border]="false">
          <bc-card-header>
            <bc-card-subtitle [label]="referendum.decree.description" truncateWithTooltip tooltip></bc-card-subtitle>
          </bc-card-header>
        </bc-card>
      }

      <bc-card class="header-card" [border]="false">
        <bc-card-header>
          <bc-card-title
            [label]="
              (referendum.collection.isElectronicSubmission
                ? 'REFERENDUM.TITLE_ELECTRONIC_SUBMISSION'
                : 'REFERENDUM.TITLE_PAPER_SUBMISSION'
              ) | translate: { description: referendum.collection.description, secureIdNumber: referendum.collection.secureIdNumber }
            "
            [headingLevel]="'h3'"
          ></bc-card-title>
          <div class="flex w-full justify-end gap-3 p-2 items-center">
            @if (referendum.collection.informalReviewRequested && referendum.collection.userPermissions?.isRequestInformalReviewVisible) {
              <bc-alert-bar
                class="self-center"
                [color]="'warning'"
                [message]="'COLLECTION.INFORMAL_REVIEW_REQUESTED' | translate"
                [displayDismissAction]="false"
                [displayShowAction]="false"
              ></bc-alert-bar>
            }
            <div class="flex flex-col">
              <bc-status-label
                class="self-center"
                size="large"
                [label]="'REFERENDUM.STATES.' + referendum.collection.state | translate"
                [backgroundColor]="collectionStateColorMap[referendum.collection.state]"
                [foregroundColor]="referendum.collection.state === collectionStates.COLLECTION_STATE_ENDED_CAME_ABOUT || referendum.collection.state === collectionStates.COLLECTION_STATE_ENDED_CAME_NOT_ABOUT ? 'light' : 'dark'"
              ></bc-status-label>
            </div>
          </div>
          @if (referendum.collection.userPermissions?.canEdit) {
            <bc-card-actions class="mr-3">
              <!-- cannot put multiple icon buttons into the same block or use else blocks does not work with bc-components. Could not find out why. -->
              @if (editing) {
                <bc-icon-button
                  icon="undo"
                  [tooltip]="'COLLECTION.GENERAL_INFORMATION.REVERT_TOOLTIP' | translate"
                  (buttonClick)="cancelEditing()"
                  [disabled]="savingEdits"
                  class="mr-1"
                ></bc-icon-button>
              }

              @if (editing) {
                <bc-icon-button
                  icon="checkmark"
                  [tooltip]="'COLLECTION.GENERAL_INFORMATION.SAVE_TOOLTIP' | translate"
                  (buttonClick)="finishEditing()"
                  [disabled]="savingEdits"
                  class="mr-1"
                ></bc-icon-button>
              }

              @if (!editing) {
                <bc-icon-button icon="edit" [tooltip]="'COLLECTION.GENERAL_INFORMATION.EDIT_TOOLTIP' | translate" (buttonClick)="edit()" class="mr-1"></bc-icon-button>
              }

              <bc-icon-button icon="add-comment" (buttonClick)="openChat()"></bc-icon-button>
            </bc-card-actions>
          }
        </bc-card-header>
      </bc-card>
      <bc-divider [orientation]="'horizontal'"></bc-divider>
    </div>

    <div class="layout-content">
      <bc-card class="m-3" [border]="false">
        <bc-card-header>
          <bc-card-title [label]="'COLLECTION.GENERAL_INFORMATION.TITLE' | translate" [headingLevel]="'h3'"></bc-card-title>
        </bc-card-header>
        <bc-card-content>
          @if (editing) {
            <app-referendum-detail-edit [referendum]="referendum"></app-referendum-detail-edit>
          } @else {
            <app-referendum-detail-info [referendum]="referendum"></app-referendum-detail-info>
          }

          <div class="flex flex-wrap gap-x-5 mt-1">
            <vo-ecol-image-preview
              class="flex-1"
              [imageSrc]="image | async"
              [label]="'COLLECTION.GENERAL_INFORMATION.IMAGE_OPTIONAL' | translate"
              [canDelete]="referendum.collection.userPermissions?.canEdit ?? false"
              (imageDeleted)="deleteImage()"
            ></vo-ecol-image-preview>
            <vo-ecol-image-preview
              class="flex-1"
              [imageSrc]="logo | async"
              [label]="'COLLECTION.GENERAL_INFORMATION.LOGO_OPTIONAL' | translate"
              [canDelete]="referendum.collection.userPermissions?.canEdit ?? false"
              (imageDeleted)="deleteLogo()"
            ></vo-ecol-image-preview>
          </div>
        </bc-card-content>
      </bc-card>
      <bc-card class="m-3" [border]="false">
        <bc-card-header>
          <bc-card-title [label]="'COLLECTION.SIGNATURE_SHEET' | translate" [headingLevel]="'h3'"></bc-card-title>
        </bc-card-header>
        <bc-card-content>
          @if (referendum.collection.signatureSheetTemplate) {
            <vo-ecol-file-chip
              [loading]="deleting"
              [label]="referendum.collection.signatureSheetTemplate.name"
              [canRemove]="!referendum.collection.signatureSheetTemplateGenerated && (referendum.collection.userPermissions?.canEdit ?? false)"
              (open)="openSignatureSheet()"
              (remove)="deleteSignatureSheet()"
            ></vo-ecol-file-chip>
          } @else {
            <p>{{ 'COLLECTION.NO_SIGNATURE_SHEET' | translate }}</p>
          }
        </bc-card-content>
      </bc-card>
      @if (referendum.collection.userPermissions?.canEdit) {
        <bc-card class="m-3" [border]="false">
          <bc-card-header>
            <bc-card-title [label]="'COLLECTION.PERMISSIONS.TITLE' | translate" [headingLevel]="'h3'"></bc-card-title>
          </bc-card-header>
          <bc-card-content>
            <app-collection-permissions [collectionId]="referendum.id"></app-collection-permissions>
          </bc-card-content>
        </bc-card>
      }
    </div>
  }
</div>
