@use '@abraxas/voting-lib/style/spacing' as *;
@use 'gap' as *;
@use 'color' as *;

.box {
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid $color-border-soft;
}

.generating {
  display: flex;
  align-items: center;

  span {
    @extend .ml-2;

    font-style: italic;
    color: $color-text-secondary;
  }
}

.files {
  @extend .gap-1;

  display: flex;
  flex-wrap: wrap;

  vo-ecol-file-chip {
    display: inline-block;
  }
}
