<div class="actions gap-x-2 mt-2">
  @if (
    collection.state === collectionStates.COLLECTION_STATE_ENABLED_FOR_COLLECTION &&
    collection.periodState === collectionPeriodStates.COLLECTION_PERIOD_STATE_IN_COLLECTION
  ) {
    <bc-button
      color="primary"
      variant="tertiary"
      (buttonClick)="signOnline(collection)"
      [label]="(collection.isSigned ? 'SIGN_COLLECTION.SHOW_DETAILS' : 'SIGN_COLLECTION.SIGN_ONLINE') | translate"
    ></bc-button>
    <bc-button
      color="primary"
      variant="tertiary"
      class="ml-0"
      (buttonClick)="downloadSignatureList(collection)"
      [label]="'SIGN_COLLECTION.DOWNLOAD_SIGNATURE_LIST' | translate"
    ></bc-button>
  }

  @if (collection.state === collectionStates.COLLECTION_STATE_ENDED_CAME_NOT_ABOUT) {
    <ng-content select="[cameNotAboutReason]"></ng-content>
  } @else if (collection.isSigned) {
    <bc-alert-bar [displayDismissAction]="false" [message]="'SIGN_COLLECTION.ALREADY_SIGNED' | translate"></bc-alert-bar>
  } @else if (
    collection.periodState === collectionPeriodStates.COLLECTION_PERIOD_STATE_IN_COLLECTION &&
    collection.state === collectionStates.COLLECTION_STATE_SIGNATURE_SHEETS_SUBMITTED
  ) {
    <bc-alert-bar [displayDismissAction]="false" [message]="'SIGN_COLLECTION.SIGNATURE_SHEETS_SUBMITTED' | translate"></bc-alert-bar>
  }
</div>
