<div class="page">
  <div class="container m-3">
    @if (notFound) {
      <h2 id="content">{{ notFoundHeader | translate }}</h2>
      <div class="error p-3">
        <p>{{ notFoundDetail | translate }}</p>
        @if (notFoundReasons) {
          <ul>
            @for (reason of notFoundReasons; track reason) {
              <li>{{ reason | translate }}</li>
            }
          </ul>
        }
      </div>
    } @else if (loading) {
      <!-- show spinner only after 0.5s to prevent flickering -->
      @defer (on timer(500ms)) {
        <bc-spinner size="large"></bc-spinner>
      }
    } @else {
      <h2 id="content">{{ header | translate }}</h2>
      <p class="hint">{{ hint | translate }}</p>
      <h3 class="user-text">{{ subHeader | translate }}</h3>
      <ng-content select="[sub-header-content]"></ng-content>
      <div class="card-container p-3">
        <ng-content></ng-content>
      </div>
    }
  </div>
</div>
