@use '@abraxas/voting-lib/style/responsive' as *;
@use '@abraxas/voting-lib/style/color' as *;

.header-content {
  display: flex;
  column-gap: 1rem;
}

bc-app-header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; // header bar is displayed in front of the content

  ::ng-deep .link bc-logo {
    display: none;

    @include sm-up() {
      display: block;
    }
  }
}

.content {
  padding-top: 60px;
}

.scroll-area {
  overflow-y: auto;
  height: 100vh;
}

// scrollbar starts below header and user navigation
.scroll-area::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 128px;
}

.footer {
  // fix footer height to ensure all other height calculations are correct
  // padding top (25px) + padding bottom (25px) + height (24px) = 74px
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  justify-content: center;
  align-items: baseline;
  background-color: $color-secondary-20;
  padding: 25px 20px; // copied from base-components footer

  ::ng-deep bc-link a {
    color: $color-text-inverse !important;
    font-size: 12px; // copied from base-components footer
    font-weight: 500; // copied from base-components footer
  }

  p {
    color: $color-text-inverse;
    font-size: 12px; // copied from base-components footer
    font-weight: 500; // copied from base-components footer
  }
}

// jump links should not be visible without focus
// https://www.accessibility-developer-guide.com/examples/hiding-elements/visually/#toggling-visibility-on-focus
.content-jump-link {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: 70px;
  left: -10000px;
  padding: 10px;
  background-color: $color-surface-bg-neutral-full;
  z-index: 100;
}

.content-jump-link:focus {
  left: 20px;
  width: auto;
  height: auto;
}
