<bc-snackbar horizontalPosition="right" verticalPosition="top" [action]="'APP.CLOSE' | translate" [duration]="-1"></bc-snackbar>

@defer (on timer(200ms)) {
  <!-- only display these after a delay of a couple ms to prevent flickering -->
  @if (state === 'initializing' || state === 'authenticating') {
    <header>
      <bc-app-header-bar
        [link]="['/']"
        [title]="appTitle"
        logo="VO"
        [ariaLabel]="'APP.TITLE_ALT' | translate"
        [style.--color-component-appheader-bg]="customHeaderColor"
        [style.--color-component-appheader-border]="customHeaderColor">
      </bc-app-header-bar>
    </header>
    <main class="content my-3 px-3 content-width">
      <div class="flex gap-2">
        <bc-spinner></bc-spinner>
        <span>{{('APP.' + (state === 'initializing' ? 'INITIALIZING' : 'AUTHENTICATING')) | translate}}</span>
      </div>
    </main>
  }
}

@defer (when state === 'initialized') {
  @if (!(route.snapshot | routeData: 'hideHeader')) {
    <div class="scroll-area">

      <!-- jump link to content for accessibility, each page should contain an element with id="content" -->
      <a class="content-jump-link" [routerLink]="[]" fragment="content">{{ 'APP.CONTENT' | translate }}</a>
      <header>
        <bc-app-header-bar
          [link]="['/']"
          [title]="appTitle"
          logo="VO"
          [ariaLabel]="'APP.TITLE_ALT' | translate"
          [style.--color-component-appheader-bg]="customHeaderColor"
          [style.--color-component-appheader-border]="customHeaderColor"
        >
          <div class="header-content">
            <vo-lib-environment-chip></vo-lib-environment-chip>
            @if (!auth.isAuthenticated) {
              <bc-button
                icon="user"
                [label]="'APP.LOGIN' | translate"
                variant="tertiary"
                customColor="white"
                (buttonClick)="login()"
              ></bc-button>
            }
          </div>

          @if (auth.isAuthenticated) {
            <bc-account-panel userShow="initials"
                              [userName]="auth.userProfile.name"
                              [tenantName]="'eLogin'">
              <div actions>
                <bc-button [label]="'APP.LOGOUT' | translate" variant="tertiary" (buttonClick)="logout()"></bc-button>
              </div>
            </bc-account-panel>
          }
        </bc-app-header-bar>
      </header>
      <main class="content content-width">
        <router-outlet></router-outlet>
      </main>
      <ul class="footer">
        <li>
          <bc-link [href]="'https://www.sg.ch/f/impressum.html'" [target]="'_blank'" [ariaLabel]="'APP.FOOTER.IMPRINT_ALT' | translate">{{ 'APP.FOOTER.IMPRINT' | translate }}</bc-link>
        </li>
        <li>
          <bc-link [href]="'https://www.sg.ch/f/datenschutz-sg-ch.html'" [target]="'_blank'" [ariaLabel]="'APP.FOOTER.DATA_PROTECTION_ALT' | translate">{{ 'APP.FOOTER.DATA_PROTECTION' | translate }}</bc-link>
        </li>
        <li>
          <bc-link [routerLink]="[accessibilityUrl]">{{ 'APP.FOOTER.ACCESSIBILITY' | translate }}</bc-link>
        </li>
        <li>
          <bc-link [routerLink]="[sitemapUrl]">{{ 'APP.FOOTER.SITEMAP' | translate }}</bc-link>
        </li>
        <li>
          <bc-link [href]="'https://support.sg.ch/ecollecting'" [target]="'_blank'" [ariaLabel]="'APP.FOOTER.SUPPORT_ALT' | translate">{{ 'APP.FOOTER.SUPPORT' | translate }}</bc-link>
        </li>
        <li>
          <span>{{ 'APP.FOOTER.COPYRIGHT' | translate: { year: now.getFullYear() } }}</span>
        </li>
      </ul>
    </div>

  } @else {
    <router-outlet></router-outlet>
  }
}
