@use '@abraxas/voting-lib/style/color' as *;

.header-content {
  display: flex;
  column-gap: 1rem;
}

bc-app-header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; // header bar is displayed in front of the content
}

.content {
  padding-top: 60px;
}

.scroll-area {
  overflow-y: auto;
  height: 100vh;
}

// scrollbar starts below header and user navigation
.scroll-area::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 128px;
}

.footer {
  // fix footer height to ensure all other height calculations are correct
  // padding top (25px) + padding bottom (25px) + height (24px) = 74px
  height: 24px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: baseline;
  background-color: $color-primary;
  padding: 25px 20px; // copied from base-components footer

  ::ng-deep bc-link a {
    color: $color-white !important;
    font-size: 12px; // copied from base-components footer
    font-weight: 500; // copied from base-components footer
  }

  span {
    color: $color-white;
    font-size: 12px; // copied from base-components footer
    font-weight: 500; // copied from base-components footer
  }
}
