.bc-column-zip-code {
  width: 3rem;
}

.bc-column-house-number {
  width: 4rem;
}

.bc-column-date-of-birth {
  width: 6rem;
}

.bc-column-signature-type {
  width: 7rem;
}

.bc-column-actions {
  width: 5rem;
}

.bc-column-state {
  width: 9rem;
}
