@use '@abraxas/voting-lib/style/color' as *;

bc-readonly {
  width: unset;
}

.info {
  display: flex;
  border-radius: 0.5rem;
  background-color: $color-surface-bg-neutral-dim;
  color: $color-text-primary;
}

.immutable-hint {
  font-style: italic;
  color: $color-text-secondary;
}

.stats {
  display: grid;
  grid-template-columns: min-content 1fr;

  .value {
    text-align: right;
    font-weight: bold;
  }
}

app-signature-sheet-citizen-table {
  display: block;
  border-radius: 0.5rem;
  background-color: $color-surface-bg-neutral-bright;
}

.hint {
  white-space: pre-wrap;
  min-width: 40rem;
}

// overwrite bc tooltip max-width
::ng-deep .tooltip {
  max-width: unset !important;
}
