@if (initiative && !loading) {
  <bc-card class="m-3" [border]="false">
    <bc-card-header>
      <bc-card-title [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.TITLE' | translate"></bc-card-title>
    </bc-card-header>
    <bc-card-content class="flex flex-col gap-y-2">
      <div class="flex flex-wrap gap-x-3">
        @if (
          initiative.domainOfInfluenceType === domainOfInfluenceTypes.DOMAIN_OF_INFLUENCE_TYPE_CH ||
          initiative.domainOfInfluenceType === domainOfInfluenceTypes.DOMAIN_OF_INFLUENCE_TYPE_CT
        ) {
          <bc-dropdown
            class="subtype"
            [formControl]="form.controls.subType"
            [items]="subTypes"
            displayExpr="description"
            [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.SUB_TYPE' | translate"
            [required]="true"
            [readonly]="!initiative.collection.userPermissions?.canEditSubType"
            subscriptSizing="dynamic"
          ></bc-dropdown>
          @if (form.value.subType) {
            <div class="flex gap-x-3 subtype-values">
              <bc-readonly [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.MIN_SIGNATURE_COUNT' | translate">
                {{ form.value.subType.minSignatureCount | number }}
              </bc-readonly>
              <bc-readonly [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.MAX_ELECTRONIC_SIGNATURE_COUNT' | translate">
                {{ form.value.subType.maxElectronicSignatureCount | number }}
              </bc-readonly>
            </div>
          }
        } @else if (initiative.domainOfInfluenceType === domainOfInfluenceTypes.DOMAIN_OF_INFLUENCE_TYPE_MU) {
          <bc-text
            [readonly]="true"
            [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.MUNICIPALITY' | translate"
            [value]="this.selectedDomainOfInfluence?.name ?? ''"
            [required]="true"
            subscriptSizing="dynamic"
          ></bc-text>
        }
        @if (initiative.domainOfInfluenceType === domainOfInfluenceTypes.DOMAIN_OF_INFLUENCE_TYPE_MU) {
          <div class="flex gap-3 subtype-values">
            <bc-readonly [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.MIN_SIGNATURE_COUNT' | translate">
              {{ initiative.minSignatureCount | number }}
            </bc-readonly>
            <bc-readonly [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.MAX_ELECTRONIC_SIGNATURE_COUNT' | translate">
              {{ initiative.maxElectronicSignatureCount | number }}
            </bc-readonly>
          </div>
        }
      </div>
      <bc-text
        [formControl]="form.controls.description"
        [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.DESCRIPTION' | translate"
        [hint]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.DESCRIPTION_HINT' | translate"
        [required]="true"
        [showDefaultErrors]="true"
        [error]="(showValidationErrors || form.controls.description.touched) && form.controls.description.invalid"
        [readonly]="!initiative.collection.userPermissions?.canEdit || !!initiative.lockedFields?.description"
        subscriptSizing="dynamic"
      ></bc-text>
      <bc-textarea
        [formControl]="form.controls.wording"
        [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.WORDING' | translate"
        [required]="true"
        [showDefaultErrors]="true"
        [rows]="6"
        [error]="(showValidationErrors || form.controls.wording.touched) && form.controls.wording.invalid"
        [readonly]="!initiative.collection.userPermissions?.canEdit || !!initiative.lockedFields?.wording"
        subscriptSizing="dynamic"
      ></bc-textarea>
      <bc-textarea
        [formControl]="form.controls.reason"
        [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.REASON' | translate"
        [showDefaultErrors]="true"
        [rows]="6"
        [readonly]="!initiative.collection.userPermissions?.canEdit"
        subscriptSizing="dynamic"
      ></bc-textarea>
      <bc-text
        [formControl]="form.controls.address.controls.committeeOrPerson"
        [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.ADDRESS.COMMITTEE_OR_PERSON' | translate"
        [required]="true"
        [showDefaultErrors]="true"
        [error]="(showValidationErrors || form.controls.address.controls.committeeOrPerson.touched) && form.controls.address.controls.committeeOrPerson.invalid"
        [readonly]="!initiative.collection.userPermissions?.canEdit"
        subscriptSizing="dynamic"
      ></bc-text>
      <bc-text
        [formControl]="form.controls.address.controls.streetOrPostOfficeBox"
        [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.ADDRESS.STREET_OR_POST_OFFICE_BOX' | translate"
        [required]="true"
        [showDefaultErrors]="true"
        [error]="(showValidationErrors || form.controls.address.controls.streetOrPostOfficeBox.touched) && form.controls.address.controls.streetOrPostOfficeBox.invalid"
        [readonly]="!initiative.collection.userPermissions?.canEdit"
        subscriptSizing="dynamic"
      ></bc-text>
      <div class="zip-code-locality-container">
        <bc-text
          [formControl]="form.controls.address.controls.zipCode"
          [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.ADDRESS.ZIP_CODE' | translate"
          [required]="true"
          [showDefaultErrors]="true"
          [error]="(showValidationErrors || form.controls.address.controls.zipCode.touched) && form.controls.address.controls.zipCode.invalid"
          [readonly]="!initiative.collection.userPermissions?.canEdit"
          subscriptSizing="dynamic"
        ></bc-text>
        <bc-text
          [formControl]="form.controls.address.controls.locality"
          [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.ADDRESS.LOCALITY' | translate"
          [required]="true"
          [showDefaultErrors]="true"
          [error]="(showValidationErrors || form.controls.address.controls.locality.touched) && form.controls.address.controls.locality.invalid"
          [readonly]="!initiative.collection.userPermissions?.canEdit"
          subscriptSizing="dynamic"
        ></bc-text>
      </div>
      <bc-text
        [formControl]="form.controls.link"
        [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.LINK' | translate"
        [showDefaultErrors]="true"
        [readonly]="!initiative.collection.userPermissions?.canEdit"
        subscriptSizing="dynamic"
      ></bc-text>
      <div class="flex flex-wrap gap-x-5 mt-1">
        <vo-ecol-image-upload
          class="flex-1"
          [imageSrc]="image | async"
          (imageChanged)="updateImage($event)"
          (imageDeleted)="deleteImage()"
          [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.IMAGE' | translate"
          [hint]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.IMAGE_HINT' | translate"
          [error]="updateImageError"
          [filename]="initiative.collection.image?.name ?? ''"
          [fileLoading]="imageLoading"
          [canUpload]="initiative.collection.userPermissions?.canEdit ?? false"
          [canDelete]="initiative.collection.userPermissions?.canEdit ?? false"
        ></vo-ecol-image-upload>
        <vo-ecol-image-upload
          class="flex-1"
          [imageSrc]="logo | async"
          (imageChanged)="updateLogo($event)"
          (imageDeleted)="deleteLogo()"
          [label]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.LOGO' | translate"
          [hint]="'LAUNCH_INITIATIVE.DETAIL.GENERAL_INFORMATION.IMAGE_HINT' | translate"
          [error]="updateLogoError"
          [filename]="initiative.collection.logo?.name ?? ''"
          [fileLoading]="logoLoading"
          [canUpload]="initiative.collection.userPermissions?.canEdit ?? false"
          [canDelete]="initiative.collection.userPermissions?.canEdit ?? false"
        ></vo-ecol-image-upload>
      </div>
      @if (initiative.collection.userPermissions?.canEdit) {
        <p class="mt-3">{{ 'COLLECTION.DETAIL.GENERAL_INFORMATION.IMAGE_DISCLAIMER' | translate }}</p>
      }
    </bc-card-content>
  </bc-card>
}

@if (loading) {
  <div class="m-5">
    <bc-spinner size="large"></bc-spinner>
  </div>
}
