@use '@abraxas/voting-lib/style/responsive' as *;

bc-readonly {
  white-space: nowrap;
}

.subtype-values {
  flex-wrap: wrap;

  @include sm-up() {
    margin-top: 1.5rem;
    flex-wrap: nowrap;
  }
}

.zip-code-locality-container {
  @include md-up() {
    display: flex;
    gap: 1rem;
  }
}

::ng-deep .formfield .label-content {
  right: 0; // overflowing label truncate
}
