<bc-nav-layout>
  <bc-nav-drawer
    [opened]="true"
    [fixedInViewport]="true"
    [fixedTopGap]="124"
    [collapseBreakpoint]="768"
    [expandable]="true"
    [rounded]="true"
    [autoFocus]="false"
    [mode]="'side'"
    [border]="'right'"
    [disableClose]="true"
  >
    <bc-nav-group>
      <li bc-nav-item
        *appHasRole="'Stammdatenverwalter'"
        [label]="'ADMIN.NAVIGATION.DECREES' | translate"
        [link]="decreesUrl"
        target="self"
        icon="law"
        [active]="active === decreesUrl"
      ></li>
      <li bc-nav-item
        *appHasRole="'Stammdatenverwalter'"
        [label]="'ADMIN.NAVIGATION.ADMISSIBILITY_DECISIONS' | translate"
        [link]="admissibilityDecisionsUrl"
        target="self"
        icon="job-overview"
        [active]="active === admissibilityDecisionsUrl"
      ></li>
      <li bc-nav-item
        *appHasRole="'Zertifikatsverwalter'"
        [label]="'ADMIN.NAVIGATION.CERTS' | translate"
        [link]="certificatesUrl"
        target="self"
        icon="access"
        [active]="active === certificatesUrl"
      ></li>
      <li bc-nav-item
        *appHasRole="'Stammdatenverwalter'"
        [label]="'ADMIN.NAVIGATION.SETTINGS' | translate"
        [link]="settingsUrl"
        target="self"
        icon="gear"
        [active]="active === settingsUrl"
      ></li>
    </bc-nav-group>
  </bc-nav-drawer>
  <div class="content m-4">
    <router-outlet></router-outlet>
  </div>
</bc-nav-layout>
