@use 'color' as *;

:host {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.hint {
  font-size: 0.875rem;
  font-style: italic;
  display: flex;
  justify-content: end;
  align-items: center;
  color: $color-text-secondary;

  &.success {
    color: $color-signal-success;
  }

  &.error {
    color: $color-signal-error;
  }
}

bc-expansion-panel ::ng-deep.mat-expansion-panel-header {
  background-color: $color-primary-95 !important;
}
