@use '@abraxas/voting-lib/style/color' as *;

.hint {
  font-size: 0.875rem;
  font-style: italic;
  display: flex;
  justify-content: end;
  align-items: center;
  color: $color-grey-2;

  &.success {
    color: $color-success;
  }
}

bc-expansion-panel ::ng-deep.mat-expansion-panel-header {
  background-color: $color-primary-10 !important;
}
