@use '@abraxas/voting-lib/style/spacing' as *;
@use 'color' as *;

.validation {
  @extend .p-2;

  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid $color-border-soft;
  font-size: 13px; // same as bc-label

  &.ok {
    background-color: $color-signal-success-light;
    color: $color-signal-success;
  }

  &.warning {
    background-color: $color-signal-warning-light;
    color: $color-signal-warning;
  }

  &.error {
    background-color: $color-signal-error-light;
    color: $color-signal-error;
  }
}
