<bc-table sort [sortMultiple]="true" [sortActive]="[{ id: fullNameColumn, direction: 'asc' }]" [dataSource]="dataSource">
  <ng-container [columnDef]="fullNameColumn">
    <th bc-header-cell sort *headerCellDef>
      <span [tooltip]="'COLLECTION.PERMISSIONS.FULL_NAME' | translate">
        {{ 'COLLECTION.PERMISSIONS.FULL_NAME' | translate }}
      </span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>{{ row.fullName }}</div>
    </td>
  </ng-container>
  <ng-container [columnDef]="emailColumn">
    <th bc-header-cell sort *headerCellDef>
      <span [tooltip]="'COLLECTION.PERMISSIONS.EMAIL' | translate">
        {{ 'COLLECTION.PERMISSIONS.EMAIL' | translate }}
      </span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>{{ row.email }}</div>
    </td>
  </ng-container>
  <ng-container [columnDef]="roleColumn">
    <th bc-header-cell sort *headerCellDef>
      <span [tooltip]="'COLLECTION.PERMISSIONS.ROLE' | translate">
        {{ 'COLLECTION.PERMISSIONS.ROLE' | translate }}
      </span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>
        <bc-status-label
          [label]="'COLLECTION_PERMISSION_ROLES.' + row.role | translate"
          [backgroundColor]="collectionPermissionRoleColorMap[row.role]"
        ></bc-status-label>
      </div>
    </td>
  </ng-container>

  <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
  <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>

  <ng-template noDataRow>
    <tr class="bc-row-data">
      <td class="bc-cell" [colSpan]="columns.length">{{ 'COLLECTION.PERMISSIONS.NO_DATA' | translate }}</td>
    </tr>
  </ng-template>
</bc-table>
