.bc-column-actions {
  width: 3rem;
}

.bc-column-bfs {
  width: 6rem;
}

.bc-column-number {
  width: 7rem;
}

.bc-column-state {
  width: 7rem;
}

.bc-column-received-at {
  width: 9rem;
}

.bc-column-signature-count-invalid {
  width: 13rem;
}

.bc-column-signature-count-valid {
  width: 12rem;
}

.bc-column-modified-by-name {
  width: 12rem;
}

.bc-column-signature-count-total {
  width: 11rem;
}

::ng-deep bc-header-cell {
  z-index: 100; // without this, the action button would be visible in the header during scrolling
}

.selectable {
  cursor: pointer;
}
