<bc-table
  sort
  [sortMultiple]="true"
  [sortActive]="
    sortByStateAndMunicipalityName
      ? [
          { id: stateColumn, direction: 'asc' },
          { id: municipalityNameColumn, direction: 'asc' },
          { id: numberColumn, direction: 'asc' },
        ]
      : [{ id: numberColumn, direction: 'asc' }]
  "
  [dataSource]="dataSource"
  [sticky]="true"
>
  <ng-container [columnDef]="bfsColumn">
    <th bc-header-cell sort *headerCellDef>
      {{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.TABLE.BFS' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>{{ row.bfs }}</div>
    </td>
    <td bc-footer-cell *footerCellDef>
      {{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.TABLE.TOTAL' | translate }}
    </td>
  </ng-container>

  <ng-container [columnDef]="municipalityNameColumn">
    <th bc-header-cell sort *headerCellDef>
      {{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.TABLE.MUNICIPALITY_NAME' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>{{ row.municipalityName }}</div>
    </td>
    <td bc-footer-cell *footerCellDef> </td>
  </ng-container>

  <ng-container [columnDef]="numberColumn">
    <th bc-header-cell sort [arrowPosition]="'before'" [align]="'right'" *headerCellDef>
      {{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.TABLE.NUMBER' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row" [align]="'right'">
      <div truncateWithTooltip tooltip>{{ row.number | number }}</div>
    </td>
    <td bc-footer-cell *footerCellDef> </td>
  </ng-container>

  <ng-container [columnDef]="receivedAtColumn">
    <th bc-header-cell sort *headerCellDef>
      {{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.TABLE.RECEIVED_AT' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>{{ row.receivedAt | date: 'dd.MM.yyyy' }}</div>
    </td>
    <td bc-footer-cell *footerCellDef> </td>
  </ng-container>

  <ng-container [columnDef]="signatureCountTotalColumn">
    <th bc-header-cell sort [arrowPosition]="'before'" [align]="'right'" *headerCellDef>
      {{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.TABLE.SIGNATURE_COUNT_TOTAL' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row" [align]="'right'">
      @if (row.state !== collectionSignatureSheetStates.COLLECTION_SIGNATURE_SHEET_STATE_NOT_SUBMITTED) {
        <div truncateWithTooltip tooltip>{{ row.count.total | number }}</div>
      }
    </td>
    <td bc-footer-cell *footerCellDef class="text-right">{{ footerSignatureCountTotal | number }}</td>
  </ng-container>

  <ng-container [columnDef]="signatureCountValidColumn">
    <th bc-header-cell sort [arrowPosition]="'before'" [align]="'right'" *headerCellDef>
      {{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.TABLE.SIGNATURE_COUNT_VALID' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row" [align]="'right'">
      @if (row.state !== collectionSignatureSheetStates.COLLECTION_SIGNATURE_SHEET_STATE_NOT_SUBMITTED) {
        <div truncateWithTooltip tooltip>{{ row.count.valid | number }}</div>
      }
    </td>
    <td bc-footer-cell *footerCellDef class="text-right">{{ footerSignatureCountValid | number }}</td>
  </ng-container>

  <ng-container [columnDef]="signatureCountInvalidColumn">
    <th bc-header-cell sort [arrowPosition]="'before'" [align]="'right'" *headerCellDef>
      {{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.TABLE.SIGNATURE_COUNT_INVALID' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row" [align]="'right'">
      @if (row.state !== collectionSignatureSheetStates.COLLECTION_SIGNATURE_SHEET_STATE_NOT_SUBMITTED) {
        <div truncateWithTooltip tooltip>{{ row.count.invalid | number }}</div>
      }
    </td>
    <td bc-footer-cell *footerCellDef class="text-right">{{ footerSignatureCountInvalid | number }}</td>
  </ng-container>

  <ng-container [columnDef]="modifiedByNameColumn">
    <th bc-header-cell sort *headerCellDef>
      {{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.TABLE.MODIFIED_BY_NAME' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>{{ row.modifiedByName || row.createdByName }}</div>
    </td>
    <td bc-footer-cell *footerCellDef> </td>
  </ng-container>

  <ng-container [columnDef]="stateColumn">
    <th bc-header-cell sort *headerCellDef>
      {{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.TABLE.STATE' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <bc-status-label [label]="'COLLECTION.SIGNATURE_SHEETS.STATES.' + row.state | translate"></bc-status-label>
    </td>
    <td bc-footer-cell *footerCellDef> </td>
  </ng-container>

  <ng-container [columnDef]="actionsColumn">
    <th bc-header-cell *headerCellDef></th>
    <td bc-data-cell *dataCellDef="let row">
      <bc-button [icon]="'ellipsis-v'" [variant]="'tertiary'" [matMenuTriggerFor]="menu"></bc-button>
      <mat-menu #menu="matMenu">
        @if (row.userPermissions?.canSubmit) {
          <div mat-menu-item (click)="submit(row)">{{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.SUBMIT' | translate }}</div>
        }
        @if (row.userPermissions?.canUnsubmit) {
          <div mat-menu-item (click)="unsubmit(row)">{{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.UNSUBMIT' | translate }}</div>
        }
        @if (row.userPermissions?.canDiscard) {
          <div mat-menu-item (click)="discard(row)">{{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.DISCARD' | translate }}</div>
        }
        @if (row.userPermissions?.canRestore) {
          <div mat-menu-item (click)="restore(row)">{{ 'COLLECTION.CHECK_SAMPLES.SIGNATURE_SHEETS.RESTORE' | translate }}</div>
        }
      </mat-menu>
    </td>
    <td bc-footer-cell *footerCellDef> </td>
  </ng-container>

  <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
  <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index" (click)="openSignatureSheet(row)" class="selectable"></tr>
  <tr bc-footer-row *footerRowDef="let row; columns: columns; sticky: true; let i = index"></tr>
</bc-table>
