<bc-table sort filter [dataSource]="dataSource">
  <ng-container [columnDef]="domainOfInfluenceTypeColumn">
    <th bc-header-cell sort
                    filter
                    filterType="list"
                    [filterItems]="domainOfInfluenceTypes"
                    filterDisplayExpr="description"
                    filterValueExpr="value"
                    *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'ADMIN.ADMISSIBILITY_DECISIONS.DOI_TYPE' | translate }}
        </span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <bc-status-label
        [label]="'DOMAIN_OF_INFLUENCE.TYPES.' + row.domainOfInfluenceType | translate"></bc-status-label>
    </td>
  </ng-container>
  <ng-container [columnDef]="domainOfInfluenceNameColumn">
    <th bc-header-cell sort filter filterType="text" *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'ADMIN.ADMISSIBILITY_DECISIONS.DOI_TYPE_NAME' | translate }}
        </span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>{{ row.domainOfInfluenceName }}</div>
    </td>
  </ng-container>
  <ng-container [columnDef]="subTypeColumn">
    <th bc-header-cell sort
                    filter
                    filterType="list"
                    [filterItems]="subTypes"
                    *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'ADMIN.ADMISSIBILITY_DECISIONS.SUB_TYPE' | translate }}
        </span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <bc-status-label [label]="row.subType?.description ?? defaultSubTypeDescription"></bc-status-label>
    </td>
  </ng-container>
  <ng-container [columnDef]="descriptionColumn">
    <th bc-header-cell sort filter filterType="text" *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'ADMIN.ADMISSIBILITY_DECISIONS.DESCRIPTION' | translate }}
        </span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>{{ row.collection.description }}</div>
    </td>
  </ng-container>
  <ng-container [columnDef]="collectionStartDateColumn">
    <th bc-header-cell sort filter filterType="date-extended" *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'ADMIN.ADMISSIBILITY_DECISIONS.COLLECTION_START_DATE' | translate }}
        </span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>{{ row.collection.collectionStartDate | date: 'dd.MM.yyyy' }}</div>
    </td>
  </ng-container>
  <ng-container [columnDef]="collectionEndDateColumn">
    <th bc-header-cell sort filter filterType="date-extended" *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'ADMIN.ADMISSIBILITY_DECISIONS.COLLECTION_END_DATE' | translate }}
        </span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <div truncateWithTooltip tooltip>{{ row.collection.collectionEndDate | date: 'dd.MM.yyyy' }}</div>
    </td>
  </ng-container>
  <ng-container [columnDef]="admissibilityDecisionStateColumn">
    <th bc-header-cell sort
                    filter
                    filterType="list"
                    [filterItems]="admissibilityDecisionStates"
                    filterDisplayExpr="description"
                    filterValueExpr="value"
                    *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'ADMIN.ADMISSIBILITY_DECISIONS.ADMISSIBILITY_DECISION_STATE' | translate }}
        </span>
    </th>
    <td bc-data-cell *dataCellDef="let row">
      <bc-status-label
        [label]="'ADMISSIBILITY_DECISION_STATES.' + row.admissibilityDecisionState | translate"></bc-status-label>
    </td>
  </ng-container>
  <ng-container [columnDef]="actionsColumn">
    <th bc-header-cell *headerCellDef></th>
    <td bc-data-cell *dataCellDef="let row">
      <div class="flex flex-wrap gap-1 justify-end">
        <bc-icon-button (buttonClick)="openInitiative.emit(row)"
                        [icon]="'external-link'"
                        variant="tertiary"></bc-icon-button>

        <bc-icon-button (buttonClick)="edit.emit(row)"
                        [icon]="row.collection.userPermissions.canEditAdmissibilityDecision ? 'edit' : 'search'"
                        variant="tertiary"></bc-icon-button>

        @if (row.collection.userPermissions.canDeleteAdmissibilityDecision) {
          <bc-icon-button (buttonClick)="delete.emit(row)"
                          [tooltip]="'APP.DELETE.TITLE' | translate"
                          icon="trash"
                          variant="tertiary"></bc-icon-button>
        }

      </div>
    </td>
  </ng-container>

  <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
  <tr bc-data-row *dataRowDef="let row; columns: columns"></tr>

  <ng-template noDataRow>
    <tr class="bc-row-data">
      <td class="bc-cell" [colSpan]="columns.length">{{'ADMIN.ADMISSIBILITY_DECISIONS.NO_DATA' | translate}}</td>
    </tr>
  </ng-template>
</bc-table>
