@use '@abraxas/voting-lib/style/spacing' as *;
@use 'color' as *;

app-certificate-info {
  border-radius: 1rem;
  border: 1px solid $color-border-soft;
  background-color: $color-signal-info-light;
}
