@use '@abraxas/voting-lib/style/color' as *;
@use '@abraxas/voting-lib/style/spacing' as *;

app-certificate-info {
  border-radius: 1rem;
  border: 1px solid $color-grey-4;
  background-color: $color-info-25;
}
