<div class="layout">
  @if (initiative) {
    <div class="layout-header">
      <bc-sub-navigation-bar
        [type]="'subpage'"
        [border]="false"
        (actionClick)="back()"
        [backBtnAriaLabel]="'APP.BACK' | translate"
      >
        <h4 sub-navigation-title truncateWithTooltip tooltip>{{ 'INITIATIVE.TITLE' | translate: { description: initiative.collection.description } | translate }}</h4>
        <div></div>
        <!-- placeholder which is forcing divider to be displayed -->
      </bc-sub-navigation-bar>

      <bc-card class="header-card" [border]="false">
        <bc-card-header>
          <bc-card-title
            [label]="
              (initiative.collection.isElectronicSubmission
                ? 'INITIATIVE.TITLE_ELECTRONIC_SUBMISSION'
                : 'INITIATIVE.TITLE_PAPER_SUBMISSION'
              ) | translate: { governmentDecisionNumber: initiative.governmentDecisionNumber }
            "
            [headingLevel]="'h3'"
          ></bc-card-title>
          <div class="flex w-full justify-end gap-3 p-2 items-center">
            @if (initiative.collection.informalReviewRequested && initiative.collection.userPermissions?.isRequestInformalReviewVisible) {
              <bc-alert-bar
                class="self-center"
                [color]="'warning'"
                [message]="'COLLECTION.INFORMAL_REVIEW_REQUESTED' | translate"
                [displayDismissAction]="false"
                [displayShowAction]="false"
              ></bc-alert-bar>
            }
            <div class="flex flex-col">
              <bc-status-label
                class="self-center"
                size="large"
                [label]="'INITIATIVE.STATES.' + initiative.collection.state | translate"
                [backgroundColor]="collectionStateColorMap[initiative.collection.state]"
                [foregroundColor]="initiative.collection.state === collectionStates.COLLECTION_STATE_ENDED_CAME_ABOUT || initiative.collection.state === collectionStates.COLLECTION_STATE_ENDED_CAME_NOT_ABOUT ? 'light' : 'dark'"
              ></bc-status-label>
            </div>
          </div>
          @if (initiative.collection.userPermissions?.canEdit) {
            <bc-card-actions class="mr-3">
              <!-- cannot put multiple icon buttons into the same block or use else blocks does not work with bc-components. Could not find out why. -->
              @if (editing) {
                <bc-icon-button
                  icon="undo"
                  [tooltip]="'COLLECTION.GENERAL_INFORMATION.REVERT_TOOLTIP' | translate"
                  (buttonClick)="cancelEditing()"
                  [disabled]="savingEdits"
                  class="mr-1"
                ></bc-icon-button>
              }

              @if (editing) {
                <bc-icon-button
                  icon="checkmark"
                  [tooltip]="'COLLECTION.GENERAL_INFORMATION.SAVE_TOOLTIP' | translate"
                  (buttonClick)="finishEditing()"
                  [disabled]="savingEdits"
                  class="mr-1"
                ></bc-icon-button>
              }

              @if (!editing) {
                <bc-icon-button icon="edit" [tooltip]="'COLLECTION.GENERAL_INFORMATION.EDIT_TOOLTIP' | translate" (buttonClick)="edit()" class="mr-1"></bc-icon-button>
              }

              <bc-icon-button icon="add-comment" (buttonClick)="openChat()"></bc-icon-button>
            </bc-card-actions>
          }
        </bc-card-header>
      </bc-card>
      <bc-divider [orientation]="'horizontal'"></bc-divider>
    </div>

    <div class="layout-content">
      <bc-card class="m-3" [border]="false">
        <bc-card-header>
          <bc-card-title [label]="'COLLECTION.GENERAL_INFORMATION.TITLE' | translate" [headingLevel]="'h3'"></bc-card-title>
        </bc-card-header>
        <bc-card-content>
          <div class="flex gap-x-3 mb-2">
            <bc-readonly class="flex-1 nowrap" [label]="'INITIATIVE.GENERAL_INFORMATION.SUB_TYPE' | translate">
              {{ initiative.subType?.description ?? 'INITIATIVE.GENERAL_INFORMATION.SUB_TYPE_DEFAULT' | translate }}
            </bc-readonly>
            <bc-readonly class="flex-1 nowrap" [label]="'INITIATIVE.GENERAL_INFORMATION.MIN_SIGNATURE_COUNT' | translate">
              {{ initiative.minSignatureCount | number }}
            </bc-readonly>
            @if (initiative.electronicCollectionEnabled) {
              <bc-readonly [label]="'INITIATIVE.GENERAL_INFORMATION.MAX_ELECTRONIC_SIGNATURE_COUNT' | translate">
                {{ initiative.maxElectronicSignatureCount | number }}
              </bc-readonly>
            }
            @else {
              <bc-readonly></bc-readonly>
            }
          </div>

          @if (editing) {
            <app-initiative-detail-edit [initiative]="initiative"></app-initiative-detail-edit>
          } @else {
            <app-initiative-detail-info [initiative]="initiative"></app-initiative-detail-info>
          }

          <div class="flex flex-wrap gap-x-5 mt-1">
            <vo-ecol-image-preview
              class="flex-1"
              [imageSrc]="image | async"
              [label]="'COLLECTION.GENERAL_INFORMATION.IMAGE_OPTIONAL' | translate"
              [canDelete]="initiative.collection.userPermissions?.canEdit ?? false"
              (imageDeleted)="deleteImage()"
            ></vo-ecol-image-preview>
            <vo-ecol-image-preview
              class="flex-1"
              [imageSrc]="logo | async"
              [label]="'COLLECTION.GENERAL_INFORMATION.LOGO_OPTIONAL' | translate"
              [canDelete]="initiative.collection.userPermissions?.canEdit ?? false"
              (imageDeleted)="deleteLogo()"
            ></vo-ecol-image-preview>
          </div>
        </bc-card-content>
      </bc-card>
      <bc-card class="m-3" [border]="false">
        <bc-card-header>
          <bc-card-title [label]="'COLLECTION.SIGNATURE_SHEET' | translate" [headingLevel]="'h3'"></bc-card-title>
        </bc-card-header>
        <bc-card-content>
          @if (initiative.collection.signatureSheetTemplate) {
            <vo-ecol-file-chip
              [loading]="deleting"
              [label]="initiative.collection.signatureSheetTemplate.name"
              [canRemove]="!initiative.collection.signatureSheetTemplateGenerated && (initiative.collection.userPermissions?.canEdit ?? false)"
              (open)="openSignatureSheet()"
              (remove)="deleteSignatureSheet()"
            ></vo-ecol-file-chip>
          } @else {
            <p>{{ 'COLLECTION.NO_SIGNATURE_SHEET' | translate }}</p>
          }
        </bc-card-content>
      </bc-card>
      @if (initiative.collection.userPermissions?.canEdit && committee) {
        <app-initiative-detail-committee [initiative]="initiative" [committee]="committee"></app-initiative-detail-committee>
        <bc-card class="m-3" [border]="false">
          <bc-card-header>
            <bc-card-title [label]="'COLLECTION.PERMISSIONS.TITLE' | translate" [headingLevel]="'h3'"></bc-card-title>
          </bc-card-header>
          <bc-card-content>
            <app-collection-permissions [collectionId]="initiative.id"></app-collection-permissions>
          </bc-card-content>
        </bc-card>
      }
    </div>

    <div class="layout-footer">
      @if (!updating) {
        @if (initiative.collection.userPermissions?.canFinishCorrection && committee) {
          <bc-button
            [icon]="'checkmark'"
            [label]="'INITIATIVE.FINISH_CORRECTION' | translate"
            [disabled]="!committee.approvedMembersCountOk || committee.approvedMembersCount !== committee.activeCommitteeMembers.length"
            (buttonClick)="finishCorrection()"
          ></bc-button>
        }

        @if (initiative.collection.userPermissions?.canSetCollectionPeriod) {
          <bc-button [icon]="'checkmark'" [label]="'INITIATIVE.SET_COLLECTION_PERIOD.TITLE' | translate" (buttonClick)="setCollectionPeriod()"></bc-button>
        }

        @if (initiative.collection.userPermissions?.canEnable) {
          <bc-button [icon]="'checkmark'" [label]="'INITIATIVE.ENABLE.TITLE' | translate" (buttonClick)="enable()"></bc-button>
        }

        @if (initiative.collection.userPermissions?.canReturnForCorrection) {
          <bc-button [icon]="'undo'" [label]="'INITIATIVE.RETURN_FOR_CORRECTION.TITLE' | translate" (buttonClick)="returnForCorrection()"></bc-button>
        }

        @if (initiative.domainOfInfluenceType === ctDoiType && initiative.admissibilityDecisionState === admissibilityDecisionStateOpen) {
          <ng-container *appHasRole="'Stammdatenverwalter'">
            <bc-button
              [disabled]="generatingAdmissibilityDecisionInformation"
              [icon]="'file-pdf'"
              [loading]="generatingAdmissibilityDecisionInformation"
              [label]="'INITIATIVE.ADMISSIBILITY_DECISION_INFORMATION' | translate"
              (buttonClick)="downloadAdmissibilityDecisionInformation()"
            ></bc-button>
          </ng-container>
        }

        <bc-button class="close-button" [icon]="'cancel'" [label]="'APP.CLOSE' | translate" (buttonClick)="back()"></bc-button>
      } @else {
        <bc-spinner></bc-spinner>
      }
    </div>
  }
</div>
