<bc-card class="m-3" [border]="false">
  <bc-card-header>
    <bc-card-title [label]="'SEEK_REFERENDUM.DETAIL.OVERVIEW.TITLE' | translate"></bc-card-title>
  </bc-card-header>
  <bc-card-content>
    <p translate>SEEK_REFERENDUM.DETAIL.OVERVIEW.INFO_HEADER</p>
    <ul>
      <li translate>SEEK_REFERENDUM.DETAIL.OVERVIEW.INFO_1</li>
      <li translate>SEEK_REFERENDUM.DETAIL.OVERVIEW.INFO_2</li>
      <li translate>SEEK_REFERENDUM.DETAIL.OVERVIEW.INFO_3</li>
    </ul>
  </bc-card-content>
</bc-card>
