<div class="page">
  <div class="p-3">
    <h2 id="content" [tabindex]="-1" translate>OVERVIEW.TITLE</h2>
    <p>
      <span translate>OVERVIEW.INFO.TEXT</span>
      <bc-link [href]="'https://support.sg.ch/ecollecting'" [target]="'_blank'" [ariaLabel]="'OVERVIEW.INFO.LINK_ALT' | translate">{{ 'OVERVIEW.INFO.LINK' | translate }}</bc-link>
    </p>

    <bc-divider class="my-3"></bc-divider>

    <h2 translate>EXPLAINER_VIDEO.TITLE</h2>
    <div class="explainer-videos gap-4">
      @for (explainerVideo of explainerVideos; track explainerVideo) {
        <div class="explainer-video flex-1">
          <app-explainer-video [explainerVideo]="explainerVideo"></app-explainer-video>
        </div>
      }
    </div>

    <bc-divider class="my-3"></bc-divider>

    <h2>{{ 'OVERVIEW.SUB_TITLE' | translate }}</h2>
    <app-overview-navigation></app-overview-navigation>

    <p translate class="mt-3 mb-2 block text-secondary">OVERVIEW.SIGN_INFO</p>
    <app-sign-collection-overview></app-sign-collection-overview>
  </div>
</div>
