@use '@abraxas/voting-lib/style/color' as *;

.explainer-videos {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .explainer-video {
    a {
      color: $color-black;
      text-decoration: unset;
    }

    ::ng-deep .play-button button {
      background-color: $color-primary-25 !important;
    }

    ::ng-deep bc-card .mat-mdc-card {
      height: 100%;
      overflow: hidden;
      min-width: 15rem;
    }
  }
}
