<div class="page">
  <div class="p-3">
    <h2 id="content" translate>OVERVIEW.TITLE</h2>
    <p>
      <span translate>OVERVIEW.INFO.TEXT</span>
      <bc-link [href]="'https://support.sg.ch/ecollecting'" [target]="'_blank'" [ariaLabel]="'OVERVIEW.INFO.LINK_ALT' | translate">{{ 'OVERVIEW.INFO.LINK' | translate }}</bc-link>
    </p>

    <bc-divider class="my-3"></bc-divider>

    <h2 translate>OVERVIEW.EXPLAINER_VIDEO.TITLE</h2>
    <div class="explainer-videos gap-4">
      @for (explainerVideo of explainerVideos; track explainerVideo) {
        <div class="explainer-video flex-1">
          <bc-card backgroundColor="primary" class="h-full">
            <bc-card-header>
              <bc-card-title role="presentation" [label]="explainerVideo.title | translate" [headingLevel]="'h3'"></bc-card-title>
              <bc-card-actions>
                <!-- Cannot use an icon-button inside an a element. This would lead to multiple keyboard/tab selections. -->
                <bc-icon-button
                  class="mr-1"
                  [variant]="'secondary'"
                  [icon]="'play'"
                  [ariaLabel]="explainerVideo.ariaLabel | translate"
                  (buttonClick)="openVideo(explainerVideo)"
                ></bc-icon-button>
              </bc-card-actions>
            </bc-card-header>
            <bc-card-content>
              <p class="pr-5" translate>{{ explainerVideo.description }}</p>
            </bc-card-content>
          </bc-card>
        </div>
      }
    </div>

    <bc-divider class="my-3"></bc-divider>

    <h2>{{ 'OVERVIEW.SUB_TITLE' | translate }}</h2>
    <app-overview-navigation></app-overview-navigation>

    <p translate class="mt-3 mb-2 block text-secondary">OVERVIEW.SIGN_INFO</p>
    <app-sign-collection-overview></app-sign-collection-overview>
  </div>
</div>
