<div class="page">
  <div class="p-3">
    <h1 translate>OVERVIEW.TITLE</h1>
    <p translate>OVERVIEW.INFO</p>

    <bc-divider class="my-3"></bc-divider>

    <h2 translate>OVERVIEW.EXPLAINER_VIDEO.TITLE</h2>
    <div class="flex flex-wrap gap-4">
      @for (explainerVideo of explainerVideos; track explainerVideo) {
        <bc-card class="flex-1" backgroundColor="primary">
          <bc-card-header>
            <bc-card-title [label]="explainerVideo.title | translate"></bc-card-title>
            <a class="ml-2" [href]="explainerVideo.link" target="_blank">
              <bc-icon-button class="play-button" variant="tertiary-tonal" icon="play"></bc-icon-button>
            </a>
          </bc-card-header>
          <bc-card-content>
            <p class="pr-5" translate>{{ explainerVideo.description }}</p>
          </bc-card-content>
        </bc-card>
      }
    </div>

    <bc-divider class="my-3"></bc-divider>

    <h2>{{ 'OVERVIEW.SUB_TITLE' | translate }}</h2>
    <app-overview-navigation></app-overview-navigation>

    <span translate class="mt-3 mb-2 block text-grey-2">OVERVIEW.SIGN_INFO</span>
    <app-sign-collection-overview></app-sign-collection-overview>
  </div>
</div>
