.explainer-videos {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .explainer-video {
    ::ng-deep bc-card .mat-mdc-card {
      height: 100%;
      overflow: hidden;
      min-width: 15rem;
    }
  }
}
