<bc-card class="m-3" [border]="false">
  <bc-card-header>
    <bc-card-title [label]="'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.TITLE' | translate"></bc-card-title>
  </bc-card-header>
  <bc-card-content>
    @if (initiative && committee) {
      <div>
        <div class="members-header">
          <p>
            @if (committee.approvedMembersCountOk) {
              <bc-icon [icon]="'check-circle'"
                       [iconColor]="'success'"></bc-icon>
            } @else {
              <bc-icon [icon]="'exclamation-triangle-o'"
                       [iconColor]="'warning'"></bc-icon>
            }
            {{
              'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.HINT'
                | translate
                : {
                  totalMembersCount: committee.totalMembersCount | number,
                  approvedMembersCount: committee.approvedMembersCount | number,
                  requiredApprovedMembersCount: committee.requiredApprovedMembersCount | number,
                }
            }}
          </p>
          @if(initiative.collection.userPermissions?.canEdit && !initiative.lockedFields?.committeeMembers) {
            <bc-button icon="plus" variant="tertiary"
                       [label]="'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.ADD' | translate"
                       (buttonClick)="add()"></bc-button>
          }
        </div>

        <app-launch-initiative-detail-committee-members-table
          [committeeMembers]="committee.activeCommitteeMembers"
          [readonly]="!!initiative.lockedFields?.committeeMembers"
          [dragDisabled]="!initiative.collection.userPermissions?.canEdit"
          [canRemove]="!!initiative.collection.userPermissions?.canEdit"
          (editClicked)="edit($event)"
          (resendClicked)="resend($event)"
          (removedClicked)="remove($event)"
          (sortChanged)="sort($event)"
        ></app-launch-initiative-detail-committee-members-table>

        @if (committee.rejectedOrExpiredCommitteeMembers.length > 0) {
          <div class="mt-3">
            <h4 class="mb-1">{{ 'LAUNCH_INITIATIVE.DETAIL.COMMITTEE.MEMBERS.REJECTED_OR_EXPIRED' | translate }}</h4>
            <app-launch-initiative-detail-committee-members-table
              [committeeMembers]="committee.rejectedOrExpiredCommitteeMembers"
              [readonly]="!!initiative.lockedFields?.committeeMembers"
              [dragDisabled]="true"
              [canRemove]="!!initiative.collection.userPermissions?.canEdit"
              (editClicked)="edit($event)"
              (resendClicked)="resend($event)"
              (removedClicked)="remove($event)"
            ></app-launch-initiative-detail-committee-members-table>
          </div>
        }
      </div>
    } @else {
      <bc-spinner></bc-spinner>
    }
  </bc-card-content>
</bc-card>
