@use '@abraxas/voting-lib/style/color' as *;
@use '@abraxas/voting-lib/style/spacing' as *;

.members-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging {
  :hover {
    background-color: unset;
  }

  :not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.drag-placeholder {
  border: 2px dashed $color-grey-6;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
