<vo-ecol-doi-type-card [doiType]="group.domainOfInfluenceType">
  @if (group.domainOfInfluenceType === municipalityDoiType && domainOfInfluences && domainOfInfluences.length > 0) {
    <vo-ecol-municipality-filter
      [domainOfInfluences]="domainOfInfluences"
      [(selectedDomainOfInfluence)]="selectedDomainOfInfluence"
      (selectedDomainOfInfluenceChange)="applyFilter()"></vo-ecol-municipality-filter>
  }

  <div class="flex flex-col gap-3 mt-3">
    @for (initiative of initiatives; track initiative.collection.id) {
      <vo-ecol-initiative-card [initiative]="initiative" [role]="initiative.collection.userPermissions?.role" (cardClick)="signOnline(initiative.collection)" [showType]="true">
        <app-sign-collection-extension [collection]="initiative.collection">
          <bc-alert-bar
            cameNotAboutReason
            [displayDismissAction]="false"
            [message]="'SIGN_INITIATIVE.CAME_NOT_ABOUT' | translate: { reason: 'COLLECTION.CAME_NOT_ABOUT_REASONS.' + initiative.cameNotAboutReason | translate }"
          ></bc-alert-bar>
        </app-sign-collection-extension>
      </vo-ecol-initiative-card>
    }

    @for (decree of referendumDecrees; track decree.id) {
      <vo-ecol-decree-card [decree]="decree" [showState]="true" [showType]="true">
        @if (decree.collections && decree.state === decreeStates.DECREE_STATE_ENDED_CAME_NOT_ABOUT) {
          <bc-alert-bar
            [displayDismissAction]="false"
            [message]="'SIGN_REFERENDUM.CAME_NOT_ABOUT' | translate: { reason: 'COLLECTION.CAME_NOT_ABOUT_REASONS.' + decree.cameNotAboutReason | translate }"
          ></bc-alert-bar>
        }
        <div class="flex flex-col gap-3 mt-3">
          @for (referendum of decree.collections; track referendum.collection.id) {
            <vo-ecol-referendum-card [referendum]="referendum"
                                     [decree]="decree"
                                     [clickable]="true"
                                     [showState]="false"
                                     [role]="referendum.collection.userPermissions?.role"
                                     (cardClick)="signOnline(referendum.collection)">
              <app-sign-collection-extension [collection]="referendum.collection"></app-sign-collection-extension>
            </vo-ecol-referendum-card>
          }
        </div>
      </vo-ecol-decree-card>
    }

    @if (loading) {
      <bc-spinner></bc-spinner>
    } @else if (referendumDecrees.length === 0 && initiatives.length === 0 && (group.domainOfInfluenceType !== municipalityDoiType || !!selectedDomainOfInfluence)) {
      <p class="no-data">{{ 'SIGN_COLLECTION.NO_DATA' + (group.domainOfInfluenceType === municipalityDoiType ? '_MU' : '') | translate }}</p>
    }
  </div>
</vo-ecol-doi-type-card>
